* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
    
}

.header {
    background-color: #1f2937;
    padding: 25px 150px;
    font-size: 18px;
    padding-bottom: 100px;
    /*min-width: 1000px;*/
}

.header-1 {
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    align-items: flex-start;
    padding-bottom: 50px;

}

.logo {
    width: 90px;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 14px;
    font-size: 18px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-2 { 
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: -20px;
}

.separation {
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
}

.main-pic {
    width: 400px;
    height: auto;
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1f2937;
}

.section-two {
  text-align: center;  
  padding: 20px 150px 100px 150px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex-shrink: 2;
}

.pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

.blue-border {
    border: 4px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
    height: auto;
    width: 300px;
    
}

.blue-border.reverse {
    height: 300px;
    width: auto;
}

.section-three {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 75px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    align-self: flex-start;
    margin-bottom: 0;
}

#person {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 0px; 
}

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 150px;
}

.blue-banner {
    background-color: #3882f6;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: #3882f6 2px;
    border-radius: 10px;
    height: 100px;
    color: #f9faf8;
    width: 1000px
}

.btn {
    display: block;
    border: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 30px;
    border-radius: 8px;
    background: #3882f6;
    color: #f9faf8;
    outline: solid;
    cursor: pointer;
    width: 120px;
    height: 35px;
    margin: 0;
}

.btn.no-outline {
    outline: none;
    border: none;
}

.head-3 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #e5e7eb;
    
}


h2 {
    font-weight: bolder;
    font-size: 36px;
}